.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    &-block {
        width: 100%;
        background-color: $color-bg-block;
        padding: $padding;
        border-radius: 15px;
    }

}