//-- цвета
$color-bg:      #f3f4f8;
$color-bg-block: #ffffff;
$color-main:    #01a0e2;
$color-hover:    #1778ba;
$color-text-l:  #91979e;
$color-text:    #444444;

//-- разметка
$padding: 15px;
$border-radius: 5px;
$border: 1px solid rgba(0, 0, 0, 0.08);